.navbar-name {
    color: #037840;
    font-size: 32px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    line-height: 38.73px;
    margin: 30px;
    width: 200px;
}

/* Estilos personalizados */
.nav-link{
    align-items: Center;
    font-size: 22px;
    font-weight: 600;
    margin: 30px;
    font-style: normal;
    justify-content: space-between;
}

/* imagen CAMPO - TEXTO BANNER*/
.image-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    height: 72vh; /* Establece la altura al 50% de la altura de la ventana */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    ;
  }
  
  .image-container img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

.banner-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner-text p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.banner-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.banner-buttons button:hover {
    background-color: white;
    color: black;
}


  

/* Estilos solo para la card flip de SobreNosotros */


  
  .sobre-nosotros .card {
    width: 75%;
    height: 300px; /* Ajusta la altura de las tarjetas */
    position: relative;
    transform-style: preserve-3d; /* Mantiene la apariencia 3D */
    transition: transform 0.6s; /* Hace que el flip sea suave */
  }
  
  .sobre-nosotros .card-front,
  .sobre-nosotros .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la parte de atrás cuando se voltea */
  }
  
  .sobre-nosotros .card-front {
    z-index: 2; /* La parte frontal estará por encima */
  }
  
  .sobre-nosotros .card-back {
    transform: rotateY(180deg); /* Rota la parte de atrás para que se oculte inicialmente */
  }
  
  .sobre-nosotros .card-container.flipped .card {
    transform: rotateY(180deg); /* Cuando se voltea, se aplica el efecto */
  }
  
  .sobre-nosotros .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover; /* Asegura que las imágenes se ajusten al tamaño de la tarjeta */
  }
  
  .sobre-nosotros .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  